version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.4 # primary container, where your job's commands are run
    steps:
      # checkout from github
      # webstorm gui github
      - checkout
      
      # install dependencies
      - run:
          name: Install
          command: npm install

      - run:
          name: Build project
          command: npm run build

jobs:
  unittest:
      - run:
          name: Unit test
          command: npm run test:unit